@{
    ViewData["Title"] = "Kullanıcı Ekleme";
}

@Html.ValidationSummary()
<form action="/Kullanici/Ekle" method="POST">
    <div class="form-group">
        <label for="Ad">Ad</label>
        <input name="Ad" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="Soyad">Soyad</label>
        <input name="Soyad" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input name="Email" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="Telefon">Telefon</label>
        <input name="Telefon" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="Sifre">Şifre</label>
        <input name="Sifre" class="form-control" type="password"></input>
    </div>
    <div class="form-group">
        <label for="SifreTekrar">Şifre Tekrar</label>
        <input name="SifreTekrar" class="form-control" type="password"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Gönder</button>
    </div>

</form>