@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{}
<form asp-controller="Kitap" asp-action="Ekle" method="post">
    <input type="text" name="kitap">
    <button type="submit">Ekle</button>
</form>